body{
  font-family: 'Lobster', cursive;
}

.main{
  background-color: grey;
  margin:10px;
  border-radius: 20px;
  font-size: 110%;
  text-align: center;
}
#shadow{
  text-align: center;
  color: darkgreen;
  text-shadow: 6px 6px 10px rgba(0, 0,255, 0.3);
}

ul{
  list-style: none;
}
